location ~ \.php$ {
        # 如果使用service名称:容器端口，如果要访问其他容器的端口，不是映射到主机端口，而是容器内php监听的端口
        fastcgi_pass   php:9000;
        #fastcgi_pass   127.0.0.1:9001;
        fastcgi_index  index.php;

        #fastcgi_param  SCRIPT_FILENAME  /container/path/to/code/dir$fastcgi_script_name;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
}